.circle {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #FFA501;
    z-index: 2;
}
.circle_1 {
    transform: translate(-12px, -6px);
}
.circle-about {
    margin-top: 6px;
}
.circle-grid {
    transform: translate(-4px, 6px);
}
.circle_skills{
    transform: translate(0, 0);
}


.line {
    position: absolute;
    width: 1px;
    height: 343px;
    transform: translate(-42px,22px);
    background-color: black;
}
.line_2 {   
    height: 1.2px;
    width: 41px;
    background-color: black;
    transform: translate(-82px,17px);}