.title {
    z-index: 3;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
}
.title_1 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.subtitle_fs16 {
    font-size: 16px;
}
.fs_14 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.fs_12 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.fs_20 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.subtitle {
    position: relative;
    z-index: 3;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    &_top {
        padding-top: 6px;
    }
}
