.contact__wrapper {
    padding: 50 0;
    position: relative;
}
.media-position {
    position: absolute;
    top: 330px;
    left: 0;
}
.media__wrap {

    width: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.media__wrap:hover {
    transform: translateX(20px);
    transition: .5s;
}
.contact__title{
    padding: 50px 0;
    font-size: 55px;
}
.contact__descr {
    font-size: 47px;
    font-weight: 600;
    margin-bottom: 45px;
}
.contact__descr-more {
    font-size: 25px;
    margin-bottom: 75px;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    padding: 40px 0;
    margin: 0 auto;
}

textarea {
    height: 150px;
    outline: none;

}

input {
    height: 30px;
    font-size: 18px;
    outline: none;
}

.contact-center {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.contact__title {
    font-size: 30px;
}

.btn {
    background-color: rgb(130, 131, 136);
    border: none;
    height: 35px;
    width: 135px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

h2 {
    font-weight: 600;
}

.brd {
    border: none;
    border-bottom: 1px solid rgb(93, 87, 87);
    background-color: transparent;
}
.text, input {
    padding: 0 15px;
    color: aliceblue;
    font-size: 20px;
}
.contact__err-msg {
    color: brown;
}

.form-style {
    position: relative;
}
.noactive {
    display: none;
}
.active {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.thank-border {
    align-items: center;
    top: 86px;
    right: 35%;
    position: absolute;
    background-color: rgb(114, 116, 114);
    border-radius: 15px;
    padding: 0 15px;
    height: 41%;
    width: 25%;
    transition: .5s all;
}
.thank-close {
    position: absolute;
    font-weight: 600;
    font-size: 35px;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.thank-text {
    font-size: 25px;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (max-width: 345px) {
    .contact-center {
        width: 100%;
    }
}