.contact__wrapper ,
.home__wrapper, 
.contact__wrapper{
    position: relative;
    min-height: 100vh !important;
}
.about__wrapper, .works__wrapper-gen, .contact__wrapper {
    position: relative;
}
.home__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px; 
}
.home__title, .home__title-name {
    font-size: 125px;
    font-family: 'Roboto Condensed', sans-serif;
}
.home__title {
    transition: 1s all;
}
.animate {
    animation: backInLeft; 
    animation-duration: 2s;
}
.animate2 {
    animation: backInLeft; 
    animation-duration: 2.5s;
}
.animate3 {
    animation: backInLeft; 
    animation-duration: 3s;
}

.up {
    margin-left: 30px;
    color: rgb(190, 81, 81);
    transition: .7s all;
}
.home__wrap-title {
    width: 50%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.home__image {
    width: 50%;
    height: 100vh;
    animation: backInLeft; 
    animation-duration: 1s;

}
.home__image-img {
    height: 100%;
}
.works__link-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hidden {
    display: none;
    transition: 2s all;
}
.link-last {
    position: absolute;
    width: 65px;
    top: 365px;
    left: -100px;
}
.link-next {
    position: absolute;
    width: 65px;
    top: 365px;
    right: -100px;
}

.wrap_link-img:hover {
    color: rgb(94, 91, 91);
    transition: .5s all;
    text-shadow: 1px 2px 4px grey;
    font-size: 25px;
}
.works__link:hover {
    color: rgb(221, 217, 217);
    font-size: 25px;
    transition: .5s all;
    text-shadow: 1px 1px 10px grey;
}
.wrap_link-img{ 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* ABOUT */

.about__wrapper {
    padding: 0 0 50px 0 ;
}
.non-formal__joke {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 19px;
    text-shadow: 1px 1px 5px grey;
    animation: slideInDown;
    animation-duration: 1s;
}
.non-formal__joke:hover {
    color: rgb(123, 107, 107);
    transition: .5s all;
}
.about__title {
    font-size: 47px;
    font-weight: 300;
    margin: 10px 0 10px 0;
    animation: slideInDown;
    animation-duration: 1s;
}
.title-name {
    font-size: 55px;
}
.title-color {
    color: rgb(245, 246, 247);
    text-shadow: 1px 1px 3px rgb(187, 187, 193);
}
.title-color:hover {
    color: rgb(123, 107, 107);
    transition: .5s all;
}
.title-bold {
font-weight: 600;
}
.title-bold:hover {
    color: rgb(89, 74, 74);
    transition: .5s all;
}
.under {
    position: relative;
    text-shadow: 1px 1px 3px rgb(187, 187, 193);
}
.under::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 165px;
    background-color: rgb(152 152 152);;
    bottom: 0;
}
.about__descr {
    margin: 50px 0 60px 0;
    font-size: 35px;
    font-style: italic;
    animation: slideInDown;
    animation-duration: 2s;

}

 /* SKILLS */
.about__skills-wrap {
    text-align: center;
}
.about__skills-title {
    font-size: 50px;
    margin-bottom: 15px;
}
.about__skills-descr {
    font-size: 25px;
}
.skills__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 50px 0 ;
    animation: backInLeft; 
    animation-delay: 2s;

    /* animation-duration: 2s; */

}
.skills__wrap {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;
    font-size: 20px;
    /* animation: backInLeft; 
    animation-duration: 2s; */
}
.animateHtml,
.animateCss,
.animateJs,
.animatePhp,
.animateReact,
.animateNode,
.animateSass,
.animateSql {
    animation: backInLeft; 
    animation-delay: 2s;
}
.animateHtml {animation-duration: 1s}
.animateCss {animation-duration: 1.5s}
.animateJs {animation-duration: 2s}
.animatePhp {animation-duration: 2.5s}
.animateReact {animation-duration: 3s}
.animateNode {animation-duration: 3.5s}
.animateSass {animation-duration: 4s}
.animateSql  {animation-duration: 4.5s}

.skills__wrap-img {
    width: 116px;
    margin: 0 auto;
}
.skills-plan {
    font-size: 20px;
}


/* WORK */
.works__wrapper-gen {
    padding: 0 0 50px 0 ;
}
.works__wrapper-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.works__wrapper {
    width: 48%;
}
.works__title {
    padding: 50px 0;
    font-size: 55px;
    text-align: center;
}
.works__descr {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.works__wrap-item {
    position: relative;
}
.works__wrap-link-img {
    border-radius: 20px;
    box-shadow: 1px 2px 20px #585858;;
}
.link-next-last, .works-inside-link {
    color: transparent;
}
.link-next-last:hover {
    color: rgb(173, 172, 172);
}
.link .works-inside-link {
    color: transparent;
}
.link:hover {
    color: rgb(173, 172, 172);
}

.link:hover .works-inside-link-title{
    color: rgb(190, 81, 81);
}
.link:hover .works-inside-link {
    color: white;
}
.link-next-last:hover .works-inside-link-wrap:hover {
    color: rgb(160, 70, 70); 
    transition: .5s all;
}

.wrap-link-descr {
    font-size: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 20px;
}
.link {
    text-align: center;
    width: 100%;
    display: block;
    height: 100%;
}
.wrap-link-descr:hover
 {
    z-index: 5;
    background-color: rgba(79, 78, 78, 0.8);
    transition: .5s all;
}
.works-inside-link {
    position: absolute;
    background-color: transparent;
    transition: .3s easy;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 22%;
    right: 0;
    left: 0;
}
.works-inside-link-title {
    margin-bottom: 15px;
}

.works-inside-link-wrap:hover {
    border-bottom: solid 1px rgb(192, 163, 163);
}
.works-inside-link-descr {
    font-size: 18px;
    width: 60%;
    margin-bottom: 50px;
}


/* MEDIA */

@media (max-width: 1024px) {
    .home__title, .home__title-name {
        font-size: 100px;
        position: relative;
        z-index: 3;
    }
    .up {
    z-index: 2;
    margin-left: 20px;
    }

        /* WORKS */

}
@media (max-width: 991px) {
    .home__title, .home__title-name {
        font-size: 80px;
    }
    .home__wrapper {
        height: 500px;
    }
    .link-next{
        position: absolute;
        width: 40px;
        top: 365px;
        right: -60px;
    }
    .link-last  {
        width: 40px;
        left: -60px;
    }
    /* ABOUT */
    .non-formal__joke {
        font-size: 16px;
    }
    .about__title {
        font-size: 33px;
        margin: 30px 0 10px 0;
    }
    .about__descr {
        margin: 30px 0 50px 0;
        font-size: 28px;
    }
    .about__skills-title {
        font-size: 40px;
    }
    .about__skills-descr {
        font-size: 23px;
    }
    .skills__wrap {
        width: 30%;
    }

        /* WORKS */
    .works__title {
        padding: 30px 0;
        font-size: 33px;
    }
    .works__descr {
        font-size: 20px;
    }

}
@media (max-width: 768px) {
    .home__title, .home__title-name {
        font-size: 60px;
    }
    .link-next {
        width: 27px;
        top: 50%;
        right: -23px;
    }
    
    /* ABOUT */
    .link-next-last, .link-last, .link-next {
        display: none;
        width: 30px;
        left: 100px;
        top: 95%;
        bottom: 10px;
        margin-right: 40px;
    }
    .about__link {
        width: 30px;
        height: 20px;
    }

    .about__link-wrap {
        
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

        /* WORKS */
        .works__wrapper-wrap {
            width: 100%;
            flex-direction: column;
        }
        .works__wrapper {
            width: 100%; 
        }
}
@media (max-width: 575px) {
    /* .link-next {
    display: none;
    } */
    .home__wrapper {
        height: 100vh;
    }
    .home__wrap-title {
        position: absolute;
        top: 100px;
        left: 50px;
        width: 80%;
        display: block;
    }
    .home__title, .home__title-name {
        font-size: 50px;
    }
    .home__image {
        width: 100%;
        height: 100%;
    }
    .up {
        margin-left: 10px;
        }
    
     /* ABOUT */
     .non-formal__joke {
        font-size: 14px;
     }
     .about__title {
        font-size: 28px;
     }
     .about__descr {
        margin: 20px 0 25px 0;
        font-size: 20px;
    }
    .about__skills-title {
        font-size: 29px;
    }
    .about__skills-descr, .skills-plan {
        font-size: 18px;
    }
    .skills__wrapper {
        margin: 0;
    }
    .skills__wrap {
        width: 45%;
    }

        /* WORKS */

}
@media (max-width: 345px) {

        /* ABOUT */
        /* WORKS */
}